@import "style";
#main {
    section {
        padding: 0 0 2rem;
    }
}
.index {
    .slider {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        .slick-dots {
            width: 80%;
            left: 50%;
            bottom: -25px;
            @include transform(translateX(-50%));
            button:before {
                opacity: 1;
                color: #DFDFDF;
            }
            .slick-active button:before {
                color: #5A6266;
            }
            @media screen and (min-width: $screen-md) {
                bottom: 25px;
            }
        }
    }
    .post {
        width: 100%;
        background: white;
        @include transition(all 0.3s ease-in-out);
        box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.05);
        &:hover {
            box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.5);
        }
        ul {
            li {
                display: inline-block;
            }
            &.post_links {
                li {
                    margin-right: 8px;
                }
                img {
                    display: inline;
                    width: 18px;
                    @include transition(0.5s);
                    &:hover {
                        opacity: 0.5;
                    }
                }
                span {
                    font-size: 11px;
                }
            }
        }
        .post_cover {
            overflow: hidden;
            height: 0;
            padding-top: 56.25%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .post_title {
            margin-bottom: 15px;
            line-height: 1.5;
        }
        .post_date {
            margin-bottom: 5px;
            font-size: 11px;
            color: #CACACA;
            .post_admin {
                margin-left: 10px;
            }
        }
        .post_action {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        @media screen and (min-width: $screen-md) {
            .post_intro {
                height: 90px;
            }
        }
    }
    .main_post {
        display: flex;
        flex-direction: column;
        .post_cover {
            position: relative;
            height: 280px;
        }
        .post_text {
            z-index: 10;
        }
        .post_intro, .post_tags a {
            color: $gray;
        }
        .post_tags {
            margin-bottom: 10px;
            height: 46px;
            overflow: hidden; 
            li {
                font-size: 12px;
                padding: 1px 5px;
                border: 1px solid #CACACA;
            }
        }
        @media screen and (min-width: $screen-md) {  
            flex-direction: row;
            .post_cover {
                width: 67%;
                height: auto;
                padding-top: 0;
            }
            .post_text {
                width: 33%;
                padding-top: 1rem !important;
                padding-bottom: 1rem !important;
            }
            .post_title {
                height: 93px;
                padding-bottom: 8px;
                border-bottom: 1px solid $White-three;
            }
            .post_intro {
                height: 89px;
                margin-bottom: 50px;
            }
        }
        @media screen and (max-width: $screen-md-max) {
            .post_cover {
                .post_button {
                    position: absolute;
                    right: 20px;
                    bottom: 20px;
                }
            }  
            .post_title, .post_title h3 {
                margin-bottom: 0;
            }
            .post_content {
                display: none;
            }
        }
    }
    .row .posts {
        padding-top: 1.5rem;
        .post_text {
            border-top: 8px solid white;
        }
        &:nth-of-type(1) {
            .post_text {
                border-color: $Tealish;
            }
            .post_button.btn-primary {
                background-color: $Tealish;
            }
        }
        &:nth-of-type(2) {
            .post_text {
                border-color: $Sunflower-yellow;
            }
            .post_button.btn-primary {
                background-color: $Sunflower-yellow;
            }
        }
        &:nth-of-type(3) {
            .post_text {
                border-color: $Pastel-red;
            }
            .post_button.btn-primary {
                background-color: $Pastel-red;
            }
        }
        @media screen and (min-width: $screen-md) {  
            padding-top: 2rem;
        }
        &.col-md-4 {
            @media screen and (max-width: $screen-md-max) and (min-width: $screen-sm) {
                .post_action {
                    flex-direction: column;
                    .post_links {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .learn_more_btn {
        text-align: center;
        .btn-primary {
            min-width: 200px;
            font-size: 20px;
        }
    }
    @media screen and (max-width: $screen-sm-max) {
        .container_slider {
            padding: 0;
            max-width: 100% !important;
        }
    }
}