@charset "UTF-8";
// font
$font-main:'Noto Sans TC', STHeiti, arial, sans-serif;
$fs-75: 0.75rem;
$fs-85: 0.85rem;
$fs-9: 0.9rem;
$fs-95: 0.95rem;
$fs-1: 1rem;
$fs-xl: 3rem;
$fs-lg: 2.5rem;
$fs-md: 1.25rem;
$fw-4: 400;
$fw-7: 700;
$lh-11: 1.1;
$lh-13: 1.3;
$lh-14: 1.4;
$lh-16: 1.6;
$lh-18: 1.8;

// colors
$main-color: #135384;
$sec-color: #8AB32D;
$body-color: #5A6266;
$white: #ffffff;
$black: #444444;
$Tealish: #20AFAB;
$Sunflower-yellow: #FFCE00;
$Pastel-red: #DC5D5B;
$gray: #9B9B9B;
$White-three: #ECECEC;
$lighter: #eee;
$alpha-3: 0.3;
$alpha-5: 0.5;
$alpha-8: 0.8;

//screen
$screen-xs: 576px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$screen-xs-max: ($screen-xs - 1) !default;
$screen-sm-max: ($screen-sm - 1) !default;
$screen-md-max: ($screen-md - 1) !default;
$screen-lg-max: ($screen-lg - 1) !default;

//styles
$br-4: 4px !default;
$pm-xxs: 0.25rem !default;
$pm-xs: 0.5rem !default;
$pm-sm: 0.8rem !default;
$pm-md: 1.1rem !default;
$pm-lg: 1.4rem !default;
$pm-xl: 1.7rem !default;