<div class="container text-center">
    <div class="mb-2"><a href="#">隱私權政策</a> ˙ <a href="#">聯絡客服</a><span class="d-inline-block">免責聲明: 本站所有內容僅供娛樂用途</span></div>
    <div>COPYRIGHT &copy; 2018 ˙ QUIZ RATTE BY RATTE INC.</div>
</div>