<nav class="navbar navbar-expand-md align-items-start justify-content-between w-100">
    <div class="container">
        <div class="logo mr-sm-3">
            <a href="/">
                <img class="" src="http://rattoe.com/RATTOE_logo.png" alt="">
            </a>
        </div>
        <!-- 右上側工具列 -->
        <div class="navbar-collapse offcanvas-collapse align-items-start">
            <ul class="navbar-nav align-items-center menus">
                <li>
                    <a href="#" class="nav-link label">
                        <span>最新</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link label">
                        <span>熱門</span>
                    </a>
                </li>
                <li class="">
                    <a href="#" class="nav-link">
                        <span>感情</span>
                    </a>
                </li>
                <li class="">
                    <a href="#" class="nav-link">
                        <span>生活</span>
                    </a>
                </li>
                <li class="">
                    <a href="#" class="nav-link">
                        <span>綜藝</span>
                    </a>
                </li>
                <li class="d-md-none">
                    <a href="#" class="nav-link">
                        <span>Facebook</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-md-block d-none ml-auto">
            <a href="#" class="nav-link fb_login">
                <img src="images/icon/fb_icon.png">
                <img src="images/icon/user_icon.png">
                <span>登入</span>
            </a>
        </div>
        <div class="d-md-none menu ml-auto">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        </div>
    </div>
</nav>