<div class="post_action">
    <ul class="post_links">
        <li>
            <a href="#">
                <img src="images/icon/share_icon.png" />
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/icon/rank_icon.png" />
                <span>0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/icon/comments_icon.png" />
                <span>1</span>
            </a>
        </li>
    </ul>
    <a class="post_button btn btn-primary" href="blog.html">立即測驗</a>
</div>