<div class="col-md-4 posts">
    <div class="post">
        <div class="post_cover" style="background-image: url(https://source.unsplash.com/random);"></div>
        <div class="post_text px-3 py-3">
            <h5 class="post_title ellipsis-1"><%= zh_lorem_sentence %></h5>
            <div class="post_content">
                <div class="post_intro">
                    <p class="ellipsis-3"><%= zh_lorem_paragraph %></p>
                </div>
                <p class="post_date"><span>2018/02/19</span></p>
                <%= render :partial => "post_action" %>
            </div>
        </div>
    </div>
</div>