@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../sass/style.scss */
body {
  font-family: "Noto Sans TC", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #5A6266;
}
@media screen and (max-width: 576px) {
  /* line 7, ../sass/style.scss */
  body {
    font-size: 15px;
  }
}

/* line 19, ../sass/style.scss */
body.noScroll {
  overflow: hidden;
}

/* line 23, ../sass/style.scss */
a {
  color: #9B9B9B;
  text-decoration: none;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 27, ../sass/style.scss */
a:hover, a:active, a:focus {
  color: #eee;
  outline: none;
}

/* line 33, ../sass/style.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 37, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: "Noto Sans TC", STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

/* line 45, ../sass/style.scss */
button, input, optgroup, select, textarea {
  font-family: "Noto Sans TC", STHeiti, arial, sans-serif;
}

/* line 49, ../sass/style.scss */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 55, ../sass/style.scss */
::-webkit-selection {
  color: #ffffff;
  background: #135384;
}

/* line 60, ../sass/style.scss */
::-moz-selection {
  color: #ffffff;
  background: #135384;
}

/* line 65, ../sass/style.scss */
::selection {
  color: #ffffff;
  background: #135384;
}

@media screen and (max-width: 576px) {
  /* line 70, ../sass/style.scss */
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* line 77, ../sass/style.scss */
.btn {
  padding: 0.4rem 0.85rem;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  letter-spacing: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 86, ../sass/style.scss */
.btn:hover {
  text-decoration: none;
  outline: none;
}

/* line 92, ../sass/style.scss */
.btn-primary {
  background-color: #135384;
  border-color: transparent;
}
/* line 95, ../sass/style.scss */
.btn-primary:hover, .btn-primary:active {
  background-color: #135384;
  border-color: transparent;
  opacity: 0.85;
}

/* line 101, ../sass/style.scss */
.btn-border {
  background-color: transparent;
  color: #5A6266;
  border: 1px solid #5A6266;
}
/* line 105, ../sass/style.scss */
.btn-border:hover, .btn-border:active {
  opacity: 0.85;
}

/* line 110, ../sass/style.scss */
.btn-fb {
  min-width: 150px;
  background-color: #3b5998;
  color: #ffffff;
}
/* line 114, ../sass/style.scss */
.btn-fb:hover {
  background-color: #2C52A5;
  color: #ffffff;
}

/* line 120, ../sass/style.scss */
.text-right {
  text-align: right;
}

/* line 125, ../sass/style.scss */
#header {
  position: relative;
  width: 100%;
  background-color: white;
}
/* line 129, ../sass/style.scss */
#header .logo {
  padding: 0.5rem 0;
  margin-right: 15px;
}
/* line 132, ../sass/style.scss */
#header .logo img {
  max-height: 33px;
}
@media screen and (max-width: 767px) {
  /* line 129, ../sass/style.scss */
  #header .logo {
    margin: 0 auto;
  }
}
/* line 139, ../sass/style.scss */
#header .menus li {
  overflow: hidden;
}
/* line 142, ../sass/style.scss */
#header .menus li a.nav-link span {
  position: relative;
}
/* line 144, ../sass/style.scss */
#header .menus li a.nav-link span:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  margin: 0 auto;
  background-color: white;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 157, ../sass/style.scss */
#header .menus li a.nav-link:hover {
  color: #135384;
}
/* line 159, ../sass/style.scss */
#header .menus li a.nav-link:hover span:after {
  width: calc(100% - 8px);
}
/* line 165, ../sass/style.scss */
#header .menu {
  display: block;
  z-index: 1498;
  cursor: pointer;
}
/* line 170, ../sass/style.scss */
#header .menu .burger, #header li.s-close .klose {
  position: relative;
  width: 26px;
  height: 50px;
  z-index: 1499;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 177, ../sass/style.scss */
#header .menu .burger span, #header li.s-close .klose span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #135384;
  border-radius: 9px;
  opacity: 1;
  right: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 188, ../sass/style.scss */
#header .menu .burger span:nth-child(1), #header li.s-close .klose span:nth-child(1) {
  top: 15px;
}
/* line 191, ../sass/style.scss */
#header .menu .burger span:nth-child(2), #header li.s-close .klose span:nth-child(2) {
  top: 22px;
  width: 80%;
}
/* line 195, ../sass/style.scss */
#header .menu .burger span:nth-child(3), #header li.s-close .klose span:nth-child(3) {
  top: 29px;
}
/* line 200, ../sass/style.scss */
#header .menu .burger.active span, #header li.s-close .klose.active span {
  background: #ffffff;
}
/* line 202, ../sass/style.scss */
#header .menu .burger.active span:nth-child(1), #header li.s-close .klose.active span:nth-child(1) {
  top: 24px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 206, ../sass/style.scss */
#header .menu .burger.active span:nth-child(2), #header li.s-close .klose.active span:nth-child(2) {
  opacity: 0;
  right: -200px;
}
/* line 210, ../sass/style.scss */
#header .menu .burger.active span:nth-child(3), #header li.s-close .klose.active span:nth-child(3) {
  top: 24px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@media screen and (min-width: 768px) {
  /* line 218, ../sass/style.scss */
  #header .menus li {
    padding: 0 5px;
  }
  /* line 221, ../sass/style.scss */
  #header .menus li a:not(.label) span:after {
    width: calc(100% - 2rem);
    background-color: #135384;
  }
  /* line 225, ../sass/style.scss */
  #header .menus li a:not(.label):hover {
    color: #135384;
  }
  /* line 229, ../sass/style.scss */
  #header .menus li a.label {
    padding: 5px 12px;
    background-color: #135384;
    color: white;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
  /* line 235, ../sass/style.scss */
  #header .menus li a.label span:after {
    display: none;
  }
  /* line 238, ../sass/style.scss */
  #header .menus li a.label:hover {
    color: white;
    opacity: 0.75;
  }
  /* line 243, ../sass/style.scss */
  #header .menus li:nth-of-type(2) {
    padding-left: 10px;
  }
  /* line 248, ../sass/style.scss */
  #header .fb_login img:nth-of-type(1) {
    height: 28px;
    margin-right: 15px;
  }
  /* line 252, ../sass/style.scss */
  #header .fb_login img:nth-of-type(2) {
    height: 17px;
  }
}
@media screen and (max-width: 767px) {
  /* line 258, ../sass/style.scss */
  #header .offcanvas-collapse {
    position: fixed;
    top: -100%;
    left: 100%;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(19, 83, 132, 0.85);
    transition-timing-function: ease-in;
    transition-duration: .01s;
    opacity: 0;
  }
  /* line 272, ../sass/style.scss */
  #header .offcanvas-collapse.active {
    left: 0;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition-duration: .3s;
    top: 0;
  }
  /* line 280, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav {
    position: relative;
    padding: 5rem 0 2rem;
    height: 100%;
    text-align: center;
  }
  /* line 285, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav li {
    width: 100%;
  }
  /* line 287, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav li a {
    padding: 0.75rem 0.25rem;
    font-size: 18px;
    color: #ffffff;
  }
  /* line 291, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav li a.nav-link {
    font-weight: 500;
    letter-spacing: 0.5rem;
  }
  /* line 297, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav li:hover a.nav-link {
    color: #eee;
  }
}

/* line 307, ../sass/style.scss */
.no-scroll {
  overflow-y: hidden;
}

/* line 311, ../sass/style.scss */
#main {
  background: #ECECEC;
}
/* line 313, ../sass/style.scss */
#main section {
  position: relative;
  display: block;
  padding: 2rem 0;
}

/* line 320, ../sass/style.scss */
#footer {
  position: relative;
  padding: 1.25rem 0;
  color: #E7E7E7;
  font-size: 12px;
  font-weight: lighter;
  background-color: #5A6266;
}
/* line 327, ../sass/style.scss */
#footer a {
  color: #ECECEC;
  font-weight: normal;
  font-size: 13px;
}
/* line 332, ../sass/style.scss */
#footer .d-inline-block {
  margin-left: 15px;
}

/* line 3, ../sass/blog.scss */
#header {
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 99;
}

/* line 8, ../sass/blog.scss */
.post, .blog {
  width: 100%;
  background: white;
}
/* line 12, ../sass/blog.scss */
.post ul li, .blog ul li {
  display: inline-block;
}
/* line 16, ../sass/blog.scss */
.post ul.post_links li, .blog ul.post_links li {
  margin-right: 8px;
}
/* line 19, ../sass/blog.scss */
.post ul.post_links img, .blog ul.post_links img {
  display: inline;
  width: 18px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 23, ../sass/blog.scss */
.post ul.post_links img:hover, .blog ul.post_links img:hover {
  opacity: 0.5;
}
/* line 27, ../sass/blog.scss */
.post ul.post_links span, .blog ul.post_links span {
  font-size: 11px;
}
/* line 32, ../sass/blog.scss */
.post .post_cover, .blog .post_cover {
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 40, ../sass/blog.scss */
.post .post_title, .blog .post_title {
  margin-bottom: 15px;
  line-height: 1.5;
}
/* line 44, ../sass/blog.scss */
.post .post_date, .blog .post_date {
  margin-bottom: 5px;
  font-size: 11px;
  color: #CACACA;
}
/* line 48, ../sass/blog.scss */
.post .post_date .post_admin, .blog .post_date .post_admin {
  margin-left: 10px;
}
/* line 52, ../sass/blog.scss */
.post .post_action, .blog .post_action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* line 59, ../sass/blog.scss */
.post .post_tags, .blog .post_tags {
  margin-top: 40px;
  height: 46px;
  overflow: hidden;
}
/* line 63, ../sass/blog.scss */
.post .post_tags li, .blog .post_tags li {
  font-size: 12px;
  padding: 1px 5px;
  border: 1px solid #CACACA;
}
@media screen and (min-width: 992px) {
  /* line 70, ../sass/blog.scss */
  .post .post_intro, .blog .post_intro {
    height: 90px;
  }
}

/* line 75, ../sass/blog.scss */
.row .posts {
  padding-top: 1.5rem;
}
/* line 77, ../sass/blog.scss */
.row .posts .post_text {
  border-top: 8px solid white;
}
/* line 81, ../sass/blog.scss */
.row .posts:nth-of-type(1) .post_text {
  border-color: #20AFAB;
}
/* line 84, ../sass/blog.scss */
.row .posts:nth-of-type(1) .post_button.btn-primary {
  background-color: #20AFAB;
}
/* line 89, ../sass/blog.scss */
.row .posts:nth-of-type(2) .post_text {
  border-color: #FFCE00;
}
/* line 92, ../sass/blog.scss */
.row .posts:nth-of-type(2) .post_button.btn-primary {
  background-color: #FFCE00;
}
/* line 97, ../sass/blog.scss */
.row .posts:nth-of-type(3) .post_text {
  border-color: #DC5D5B;
}
/* line 100, ../sass/blog.scss */
.row .posts:nth-of-type(3) .post_button.btn-primary {
  background-color: #DC5D5B;
}
@media screen and (min-width: 992px) {
  /* line 75, ../sass/blog.scss */
  .row .posts {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  /* line 109, ../sass/blog.scss */
  .row .posts.col-md-4 .post_action {
    flex-direction: column;
  }
  /* line 111, ../sass/blog.scss */
  .row .posts.col-md-4 .post_action .post_links {
    margin-bottom: 15px;
  }
}

/* line 119, ../sass/blog.scss */
.blog .posts_content {
  background: #ECECEC;
}
/* line 121, ../sass/blog.scss */
.blog .posts_content .title {
  position: relative;
  text-align: center;
}
/* line 124, ../sass/blog.scss */
.blog .posts_content .title:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  display: block;
  width: 60px;
  height: 5px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #135384;
}
/* line 137, ../sass/blog.scss */
.blog .blog_content {
  overflow: hidden;
  background-color: white;
}
/* line 140, ../sass/blog.scss */
.blog .blog_content .image-wrapper {
  position: relative;
  padding-bottom: 56.2%;
}
/* line 143, ../sass/blog.scss */
.blog .blog_content .image-wrapper img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* line 150, ../sass/blog.scss */
.blog .blog_content .blog_intro {
  padding: 20px 0;
}
/* line 152, ../sass/blog.scss */
.blog .blog_content .blog_intro .post_date {
  color: #135384;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 158, ../sass/blog.scss */
.blog .blog_content .blog_intro #input_block .form-control {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
/* line 161, ../sass/blog.scss */
.blog .blog_content .blog_intro #input_block .post_button {
  padding: 0.5rem 0.85rem;
  font-size: 15px;
}
/* line 167, ../sass/blog.scss */
.blog .blog_content .fb_plugin .admin {
  font-size: 11px;
  color: #9B9B9B;
}
/* line 171, ../sass/blog.scss */
.blog .blog_content .quiz_btn {
  position: absolute;
  top: 50%;
  width: 120px;
  height: auto;
  opacity: 0.5;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 178, ../sass/blog.scss */
.blog .blog_content .quiz_btn .image-wrapper {
  position: relative;
}
/* line 180, ../sass/blog.scss */
.blog .blog_content .quiz_btn .image-wrapper img {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  filter: brightness(0.4);
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
/* line 186, ../sass/blog.scss */
.blog .blog_content .quiz_btn.quiz_prev {
  left: -60px;
}
/* line 188, ../sass/blog.scss */
.blog .blog_content .quiz_btn.quiz_prev:hover, .blog .blog_content .quiz_btn.quiz_prev:active {
  left: -20px;
  opacity: 1;
}
/* line 191, ../sass/blog.scss */
.blog .blog_content .quiz_btn.quiz_prev:hover img, .blog .blog_content .quiz_btn.quiz_prev:active img {
  filter: brightness(0.7);
}
/* line 196, ../sass/blog.scss */
.blog .blog_content .quiz_btn.quiz_next {
  right: -60px;
}
/* line 198, ../sass/blog.scss */
.blog .blog_content .quiz_btn.quiz_next:hover, .blog .blog_content .quiz_btn.quiz_next:active {
  right: -20px;
  opacity: 1;
}
/* line 201, ../sass/blog.scss */
.blog .blog_content .quiz_btn.quiz_next:hover img, .blog .blog_content .quiz_btn.quiz_next:active img {
  filter: brightness(0.7);
}
@media screen and (min-width: 992px) {
  /* line 210, ../sass/blog.scss */
  .blog .blog_content .blog_intro {
    padding: 20px 40px;
  }
  /* line 213, ../sass/blog.scss */
  .blog .blog_content .fb_plugin {
    padding: 0 16px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 219, ../sass/blog.scss */
  .blog .blog_content .container {
    max-width: 1024px;
  }
  /* line 222, ../sass/blog.scss */
  .blog .fb_plugin .fb_page {
    text-align: right;
  }
}
@media screen and (max-width: 991px) {
  /* line 227, ../sass/blog.scss */
  .blog .fb_plugin .fb_admin, .blog .fb_plugin .fb_page {
    text-align: center;
  }
  /* line 230, ../sass/blog.scss */
  .blog .fb_plugin .fb_admin {
    margin-bottom: 10px;
  }
}
